*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#171428;
color:#fff;
display:flex;
height:100vh;
overflow:hidden;
}

.sidebar{
width:300px;
background:#211d39;
padding:20px;
overflow-y:auto;
box-shadow:0 0 20px rgba(0,0,0,.4);
}

.sidebar h2{
font-size:28px;
margin-bottom:20px;
text-align:center;
}

.sidebar hr{
margin:20px 0;
border:none;
height:1px;
background:#35304f;
}

.sidebar label{
display:block;
margin:12px 0 8px;
font-size:15px;
color:#ccc;
}

button{
width:100%;
padding:14px;
margin-top:10px;
border:none;
border-radius:14px;
cursor:pointer;
font-size:16px;
font-weight:bold;
transition:.25s;
background:#34304d;
color:#fff;
}

button:hover{
transform:translateY(-2px);
background:#464168;
}

.green{
background:#18b54a;
}

.green:hover{
background:#16a142;
}

.blue{
background:#2f6cff;
}

.blue:hover{
background:#2658cf;
}

input[type=range]{
width:100%;
margin-top:10px;
accent-color:#1ed760;
}

select{
width:100%;
padding:14px;
border:none;
border-radius:12px;
background:#34304d;
color:white;
font-size:16px;
}

.editor{
flex:1;
display:flex;
justify-content:center;
align-items:center;
background:#111;
overflow:auto;
}

canvas{
background:#222;
border-radius:18px;
box-shadow:0 0 35px rgba(0,0,0,.5);
max-width:95%;
max-height:95%;
touch-action:none;
}

::-webkit-scrollbar{
width:8px;
height:8px;
}

::-webkit-scrollbar-thumb{
background:#555;
border-radius:20px;
}

::-webkit-scrollbar-track{
background:transparent;
}

@media(max-width:900px){

body{
flex-direction:column;
overflow:auto;
}

.sidebar{
width:100%;
height:auto;
box-shadow:none;
}

.editor{
height:70vh;
}

canvas{
width:95%;
height:auto;
}

button{
font-size:15px;
padding:13px;
}

}

@media(max-width:500px){

.sidebar{
padding:15px;
}

.sidebar h2{
font-size:24px;
}

button{
padding:12px;
font-size:14px;
}

select{
font-size:14px;
}

label{
font-size:14px;
}

}
