*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#111;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:#fff;
}

.box{
width:95%;
max-width:420px;
background:#222;
padding:20px;
border-radius:20px;
text-align:center;
}

h1{
margin-bottom:20px;
}

input,button{
width:100%;
margin-top:15px;
padding:15px;
border:none;
border-radius:12px;
font-size:18px;
}

button{
background:#00c853;
color:white;
}

canvas{
width:100%;
background:#333;
border-radius:15px;
margin-top:20px;
}